/* Hero Section */
#hero {
  height: 100%;
}

#hero-image {
  width: 80%;
  height: auto;
  margin: 1rem 0 2rem 0;
  border-radius: 5%;
  max-width: 650px;
}

#hero-image-container {
  position: relative;
  display: flex;
  justify-content: start;
}

#hero-image-container::after {
  content: "";
  background: repeating-linear-gradient(
    45deg,
    black,
    black 10px,
    transparent 10px,
    transparent 20px
  );
  position: absolute;
  right: 0;
  bottom: 0;
  border-radius: 5%;
  display: block;
  width: 80%;
  height: calc(100% - 4rem);
  z-index: -1;
}

#hero-name {
  font-size: 2.5rem;
}
