/* Projects */
#projects {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.project-image {
    max-width: 100%;
    height: auto;
    margin: 1rem 0;
    border-radius: 5%;
}

.projects {
    text-align: center;
}